.title {
    font-size: 36px;
    padding: 1.2rem 10%;
}

.essayInput {
    padding: 0 10%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
}

.essayInput .prompt {
    padding: 0 25px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 28px;
    border-right: none;
    position: relative;
}

.essayInput .prompt .submitEssay{
    padding: 8px;
    min-width: 20%;
    font-size: 16px;
    background-color: rgba(0, 148, 39, 0.5);
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    margin: 20px;
    bottom: 0;
    right: 0
}

.select {
    padding: 5px 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
}

.textarea {
    font-weight: bold;
    font-size: 16px;
    background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
    background-position-x: -5px;
    line-height: 25px;
    min-height: 550px;
    width: 100%;
    padding: 30px;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    border-left: none;
    color: black;
    resize: none;
    overflow-y: hidden;
}

.essayContainer {
    margin: 0;
    padding: 0;
    position: relative;
    border-radius: 0 5px 5px 0;
}

.essayContainer .wordCount {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: wavy;
    color: black;
}

@media screen and (max-width: 768px) {
    .essayInput {
        grid-template-columns: 100%;
    }
    .essayInput .prompt {
        font-size: 24px;
        border-right: 1px solid white;
        border-bottom: none;
        border-radius: 5px 5px 0 0;
        width: 100%;
        padding-bottom: 30px;
    }
    .essayInput .textarea {
        width: 100%;
        padding: 20px;
        border-radius: 0 0 5px 5px;
        border-left: 1px solid white;
    }
}